################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1/FileContentIndex/a5cd9816-9d49-4dd0-b2f4-51e5a3b096b6.vsidx
